.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.gradle/
.DS_Store
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.jks
**/*.keystore
*.sqlite
*.sqlite3
*.db
.env
.env.local
*.pem
*.key
google-services.json
GoogleService-Info.plist